
/*Tamming"  Box Model With Reset*/


/*Universal Style*/
html{
  font-size:18px;
  font-family: Helvetica;
  color: white;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
header {
  background-color: black;
  font-size: 1rem;
}
header .container{
  display:flex;
  align-items:center;
  padding: 0.66rem 0.66rem 0.5rem;
}

header img {
  height:1.5rem;
  padding-right:1rem;
}

.Banner{
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
}
.headline{
  display:flex;
  background-color: black;
  width: 20rem;
  flex-direction: column;
  font-weight: bold;
  padding: 2rem 3rem;
  position: relative;
  top:9rem;
}
.headline h1{
  margin: 0.25rem 0;
}
h1{
  font-size: 2rem;
}
h4{
  font-size: 1rem;
}
/*Navigation Bar*/
nav{
  background-color: firebrick;
  font-size: 1rem;
}
nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}
 nav .mobile-nav {
  display:none;
}

/*Menu*/
.Menu{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.Menu span {
  background-color: black;
}
.product{
  width: 30%;
}
.product-image{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black
}
.product-image img{
  max-width: 8rem;
}
.description{
  display: block;
  text-align: center;
  padding: 0.5rem 0;
}

.Info{
  display: flex;
  padding: 3rem 0;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.info .title {
  background-color: black;
  padding: 1rem 0rem 1rem 2rem;
}
.detail{
  color: black;
  padding-bottom: 4rem;
}

footer{
  text-align: left;
  padding: 5rem 0;
  background-color: black;

}
/*Media*/
@media only screen and (max-width: 1024px){
  .product{
    width: 47%;
  }
  .product.glasses {
    display: none;
  }
nav .window{
  display:none;
}
nav .mobile-nav{
  display: block;
  text-align: center;
}
}

@media only screen and (max-width: 470px){
.headline h4{
  font-size: 0.77rem;
  border: 1px solid white;
}
.headline h1{
  font-size: 1rem;
  font-weight:bold;
}
.Banner{
  height: 15rem;
}
.headline{
  width: 100%;
  top: 10rem;
  border: 1px solid white;
  padding: 1rem 2rem;
}
nav .mobile-nav{
  display:block;
  margin-top: 1.5rem;
}
.product.watch{
  display:none;
}
.product {
  width: 90%;
  margin: 0 auto;
}
.Info{
  flex-wrap: wrap;
}
.info{
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
}
.detail{
  padding-bottom: 0.5rem;
}
footer{
text-align:center;
}
}
